@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

body {
  font-family: Lato, "Noto Sans JP", メイリオ, Meiryo, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', 游ゴシック体, 'Yu Gothic', YuGothic, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-size: 18px;
  color: #222222;
  padding: 0;
  margin: 0;
}

.wrapper{
  position: relative;
  width:100%;
  height:70%;
}
.layer{
  position: absolute;
}
.box{
  display: inline-block;
}
.footer_content{
  margin-left: 10px;
}
.cancel_padding_top{
  padding-top: 0em !important;
}

#up_btn{
  position: fixed;
  bottom: 20px;
  right: 20px;
  filter: drop-shadow(2px 2px 4px #000);
}
#titleWrapper{
  top: 0;
  left: 0;
  right: 0;
  bottom: 60px;
  margin: auto;
  display: table;
  width: 650px;
  height: 300px;
  color: #ffffff;
  text-shadow: 1px 1px 20px #000;
  text-align: center;
}
#titleInner{
  display: table-cell;
  vertical-align: middle;
}
#title{
  display: inline-block;
  font-size: 54px;
  border-bottom:solid 5px #ffffff;
  padding:7px 10px;
}
#menubar{
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  width:100%;
  height:60px;
}
#menulistWrapper{
  margin-left: 10%;
  margin-right: 10%;
  width:80%;
  height:60px;
}
#menulist{
  display: inline;
  line-height: 60px;
  color:#ffffff;
  list-style-type: none;
  padding:0px;
  margin:0px;
}
#selected{
  background-color: rgba(230,230,230,1.0) !important;
  font-weight: 600;
}
#contentBlock{
  width:80%;
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
}
#footer1{
  font-size: 16px;
  color: #bbbaba;
  margin-top:70px;
  width:100%;
  height:300px;
  background: linear-gradient(180deg, rgb(70,70,70), rgb(40,40,40));
}
#author_box{
  width: 40%;
  margin-left: 10%;
}
#author_content{
  display: inline-block;
}
#menu_box{
  width: 30%;
  margin-left: 10%;
}
#sns_list{
  font-size: 40px;
  text-align: center;
  margin-top:40px;
  height:1.6em;
}
#sns_icon_wrapper{
  margin-top:0.25em;
  letter-spacing:0px;
}
#footer2{
  display:flex;
  justify-content:center;
  align-items:center;
  margin:0px;
  width:100%;
  height:40px;
  background: rgb(30,30,30);
}
#footer2_text{
  font-size: 14px;
  color: rgb(200,200,200);
}

#menulist > li {
  background-color: rgba(0,0,0,0.0);
  transition: background-color 0.3s;
  font-size: 24px;
  float:left;
  text-align:center;
  /* widthでメニューバーの長さ調整
  割合は 1/要素数 で設定 */
  width:20%;
  margin: 0px;
  padding: 0px;
}
#menulist > li:hover {
  background-color: rgba(180,180,180,1.0);
  transition: background-color 0.4s;
}
#menulist > li > a{
  color:#ffffff;
  transition: color 0.3s;
  display:block;
  text-decoration:none;
}
#menulist > li > a:hover {
  color:#000000;
  transition: color 0.4s;
}
#selected > a{
  color:#000000 !important;
}
#contentBlock .level1{ margin-left:  0px; }
#contentBlock .level2{ margin-left: 30px; }
#contentBlock .level3{ margin-left: 60px; }
#contentBlock .level4{ margin-left: 90px; }
#footer1 h6{
  font-size: 20px;
  color: #d7d7d7;
  margin-top: 30px;
  margin-bottom: 20px;
  text-shadow: 0px -2px rgba(0, 0, 0, .8);
}
#footer1 a{
  color: #bbbaba;
}
#footer1 .box{
  vertical-align: top;
}
#author_content ul{
  list-style-type: none;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  display: inline-block;
}
#author_content li{
  margin-top:0.2em;
}
#sns_list a{
  transition: color 0.3s;
  padding: 0.25em 0.4em;
}
#sns_list a:hover{
  color: rgb(255,255,255);
  transition: color 0.5s;
}
#menu_box ul{
  font-size: 18px;
  list-style-type: none;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
#menu_box li:before{
  font-family: Font Awesome\ 5 Free;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-weight: 900;
  content:"\f105";
  padding-right:0.7em;
}
#menu_box ul li a{
  display: inline-block;
  width:80%;
  text-decoration:none;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  transition: color 1.0s, margin-left 1.0s;
}
#menu_box ul li a:hover{
  color: rgb(255,255,255);
  transition: color 0.5s, margin-left 1.0s;
  margin-left:10px;
}
