@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

body {
  font-family: Lato, "Noto Sans JP", メイリオ, Meiryo, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', 游ゴシック体, 'Yu Gothic', YuGothic, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-size: 18px;

  padding: 0;
  margin: 0;
}

.wrapper{
  position: relative;
  width:100%;
  height:70%;
}
.layer{
  position: absolute;
}

#titleWrapper{
  top: 0;
  left: 0;
  right: 0;
  bottom: 60px;
  margin: auto;
  display: table;
  width: 650px;
  height: 300px;
  color: #ffffff;
  text-shadow: 1px 1px 20px #000;
  text-align: center;
}
#titleInner{
  display: table-cell;
  vertical-align: middle;
}
#title{
  display: inline-block;
  font-size: 54px;
  border-bottom:solid 5px #ffffff;
  padding:7px 10px;
}
#menubar{
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  width:100%;
  height:60px;
}
#menulistWrapper{
  margin-left: 10%;
  margin-right: 10%;
  width:80%;
  height:60px;
}
#menulist{
  display: inline;
  line-height: 60px;
  color:#ffffff;
  list-style-type: none;
  padding:0px;
  margin:0px;
}
#selected{
  background-color: rgba(230,230,230,1.0) !important;
}
#contentBlock{
  background-color: #abcdef; /* 最後にココ消す */
  width:80%;
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
  height:600px;
}

#menulist > li {
  background-color: rgba(0,0,0,0.0);
  transition: background-color 0.3s;
  font-size: 24px;
  float:left;
  text-align:center;
  width:20%;
  margin: 0px;
  padding: 0px;
}
#menulist > li:hover {
  background-color: rgba(180,180,180,1.0);
  transition: background-color 0.4s;
}
#menulist > li > a{
  color:#ffffff;
  transition: color 0.3s;
  display:block;
  text-decoration:none;
}
#menulist > li > a:hover {
  color:#000000;
  transition: color 0.4s;
}
#selected > a{
  color:#000000 !important;
}
#contentBlock .level1{ margin-left:  0px; }
#contentBlock .level2{ margin-left: 30px; }
#contentBlock .level3{ margin-left: 60px; }
#contentBlock .level4{ margin-left: 90px; }
